{{- if .Values.open5gs.amf.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: amf-config
  namespace: {{ .Values.global.namespace }}
data:
  amf.yaml: |
    logger:
      level: info

    amf:
      sbi:
        server:
          - address: 0.0.0.0
            port: 7777
            advertise: {{ include "open5gs-5g.serviceFQDN" (dict "name" "amf" "root" .) }}
        client:
          nrf:
            - uri: http://{{ include "open5gs-5g.serviceFQDN" (dict "name" "nrf" "root" .) }}:7777
      ngap:
        server:
          - address: 0.0.0.0
      metrics:
        server:
          - address: 0.0.0.0
            port: 9090
      guami:
        - plmn_id:
            mcc: {{ .Values.network.plmn.mcc }}
            mnc: {{ .Values.network.plmn.mnc }}
          amf_id:
            region: 2
            set: 1
      tai:
        - plmn_id:
            mcc: {{ .Values.network.plmn.mcc }}
            mnc: {{ .Values.network.plmn.mnc }}
          tac: {{ .Values.network.tac }}
      plmn_support:
        - plmn_id:
            mcc: {{ .Values.network.plmn.mcc }}
            mnc: {{ .Values.network.plmn.mnc }}
          s_nssai:
            - sst: 1
      security:
        integrity_order:
          - NIA2
          - NIA1
          - NIA0
        ciphering_order:
          - NEA0
          - NEA1
          - NEA2
      network_name:
        full: Open5GS
      amf_name: open5gs-amf0
      time:
        t3512:
          value: 540
{{- end }}
