{{- if .Values.open5gs.ausf.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: ausf-config
  namespace: {{ .Values.global.namespace }}
data:
  ausf.yaml: |
    logger:
      level: info

    ausf:
      sbi:
        server:
          - address: 0.0.0.0
            port: 7777
            advertise: {{ include "open5gs-5g.serviceFQDN" (dict "name" "ausf" "root" .) }}
        client:
          nrf:
            - uri: http://{{ include "open5gs-5g.serviceFQDN" (dict "name" "nrf" "root" .) }}:7777
      metrics:
        server:
          - address: 0.0.0.0
            port: 9090
{{- end }}
