{{- if .Values.open5gs.pcf.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: pcf-config
  namespace: {{ .Values.global.namespace }}
data:
  pcf.yaml: |
    logger:
      level: info

    db_uri: mongodb://{{ include "open5gs-5g.serviceFQDN" (dict "name" "mongodb" "root" .) }}/open5gs

    pcf:
      sbi:
        server:
          - address: 0.0.0.0
            port: 7777
            advertise: {{ include "open5gs-5g.serviceFQDN" (dict "name" "pcf" "root" .) }}
        client:
          nrf:
            - uri: http://{{ include "open5gs-5g.serviceFQDN" (dict "name" "nrf" "root" .) }}:7777
      metrics:
        server:
          - address: 0.0.0.0
            port: 9090
{{- end }}
