{{- if and .Values.ueransim.enabled .Values.ueransim.ue.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: ueransim-ue-config
  namespace: {{ .Values.global.namespace }}
data:
  open5gs-ue.yaml: |
    supi: 'imsi-{{ .Values.subscriber.imsi }}'
    mcc: '{{ .Values.network.plmn.mcc }}'
    mnc: '{{ .Values.network.plmn.mnc }}'
    routingIndicator: '0000'

    key: '{{ .Values.subscriber.key }}'
    op: '{{ .Values.subscriber.opc }}'
    opType: 'OPC'
    amf: '8000'

    imei: '356938035643803'
    imeiSv: '4370816125816151'

    gnbSearchList:
      - 127.0.0.1

    sessions:
      - type: 'IPv4'
        apn: '{{ .Values.subscriber.dnn }}'
        slice:
          sst: 1

    integrityMaxRate:
      uplink: 'full'
      downlink: 'full'

    configured-nssai:
      - sst: 1

    default-nssai:
      - sst: 1

    integrity:
      IA1: true
      IA2: true
      IA3: true

    ciphering:
      EA1: true
      EA2: true
      EA3: true

    uacAic:
      mps: false
      mcs: false

    uacAcc:
      normalClass: 0
      class11: false
      class12: false
      class13: false
      class14: false
      class15: false
{{- end }}
